.tv{
  margin-top: 40px;
  margin-bottom: 200px;
  overflow: hidden;
  flex: 1 1 auto;

  &-title{
    display: flex;

    &__link{
      @include flex(center);
      gap: 2px;
      
      &::after {
        display: flex;
        content: " ";
        width: 25px;
        height: 28px;
        margin-top: 12px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00024 18L15.0002 12L9.00024 6' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
      
      &__text{
        color: #fff;
        font-size: 32px;
        font-family: $main-font;
      }
    }
  }

  &-content{
    margin-top: 30px;
    display: flex;
    gap: 12px;

    &__box{
      width: 214px;
      height: 327px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 12px;

      &__bottom{
        // display: flex;
        gap: 12px;
      }
      
      &__btn{
        margin-left: 4px;
        width: 100px;
        height: 100px;
        position: relative;
        transition: all 0.2s ease-in-out;
        overflow: hidden;

        &:hover{
          transform: scale(1.04);
        }

        &:hover &__play{
          opacity: 1;
          visibility: visible;

        }
        
        &__play{
          width: 100%;
          height: 100%; 
          top: 0;
          left: 0;
          position: absolute;
          border-radius: 12px;  
          background: rgba(0, 0, 0, 0.8);
          @include flex(center,center);
          opacity: 0;
          visibility: hidden;
          transition: all 0.2s ease-in-out;
          overflow: hidden;
        }

        img{
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          overflow: hidden;
          border-radius: 12px;
        }
      }
      
    }
  }
}
