@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #171818;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-family: inherit;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  position: fixed;
  z-index: 10;
}
.header-row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-link {
  color: rgba(255, 255, 255, 0.5019607843);
  font-weight: 400;
  font-size: 16px;
  font-family: "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 660px) {
  .header-link {
    display: none;
  }
}
.header-link:hover {
  color: #fff;
}
.header-link:not(:last-child) {
  margin-right: 20px;
}
@media screen and (max-width: 900px) {
  .header-link:not(:last-child) {
    margin-right: 10px;
  }
}
.header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header-btn {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  font-family: "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 8px 12px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.0509803922);
  transition: all 0.1s ease-in-out;
}
@media screen and (max-width: 900px) {
  .header-btn {
    padding: 6px 10px;
  }
}
@media screen and (max-width: 768px) {
  .header-btn {
    display: none;
  }
}
.header-btn:hover {
  background-color: rgba(82, 176, 56, 0.3);
}
.header-btn-menu {
  display: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  font-family: "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 8px 12px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.0509803922);
  transition: all 0.1s ease-in-out;
}
.header-btn-menu:hover {
  background-color: rgba(82, 176, 56, 0.3);
}
@media screen and (max-width: 768px) {
  .header-btn-menu {
    padding: 6px 10px;
    display: block;
  }
}
.header-btn:first-child {
  border-radius: 8px;
  padding: 10.25px 12.681px;
}
@media screen and (max-width: 900px) {
  .header-btn:first-child {
    display: none;
  }
}

.banner {
  width: 100%;
  height: 620px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 2560px) {
  .banner {
    height: 900px;
  }
}
@media screen and (max-width: 1440px) {
  .banner {
    height: 620px;
  }
}
@media screen and (max-width: 768px) {
  .banner {
    height: 480px;
  }
}
@media screen and (max-width: 660px) {
  .banner {
    height: 460px;
  }
}
@media screen and (max-width: 600px) {
  .banner {
    height: 440px;
  }
}
@media screen and (max-width: 550px) {
  .banner {
    height: 380px;
  }
}
@media screen and (max-width: 440px) {
  .banner {
    height: 280px;
  }
}
@media screen and (max-width: 375px) {
  .banner {
    height: 220px;
  }
}

.swiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.swiper-pointer-events {
  width: 100%;
  height: 100%;
  position: absolute;
  touch-action: pan-y;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
}

.banner-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background: linear-gradient(90deg, #171818 0%, rgba(23, 24, 24, 0.2) 43.32%, rgba(23, 24, 24, 0) 56.33%), linear-gradient(180deg, rgba(23, 24, 24, 0.3) 0%, rgba(23, 24, 24, 0) 100%), linear-gradient(360deg, #171818 0%, rgba(23, 24, 24, 0) 100%);
  z-index: 2;
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.banner-image img {
  width: 100%;
  height: 100%;
}

.banner-content {
  position: absolute;
  width: 100%;
  top: 200px;
  left: 0;
  z-index: 2;
}
@media screen and (max-width: 2560px) {
  .banner-content {
    top: 400px;
  }
}
@media screen and (max-width: 1440px) {
  .banner-content {
    top: 240px;
  }
}
@media screen and (max-width: 1024px) {
  .banner-content {
    top: 200px;
    left: 80px;
  }
}
@media screen and (max-width: 768px) {
  .banner-content {
    top: 180px;
    left: 80px;
  }
}
@media screen and (max-width: 660px) {
  .banner-content {
    top: 160px;
    left: 20px;
  }
}
@media screen and (max-width: 600px) {
  .banner-content {
    top: 160px;
    left: 20px;
  }
}
@media screen and (max-width: 600px) {
  .banner-content {
    top: 120px;
    left: 20px;
  }
}
@media screen and (max-width: 600px) {
  .banner-content {
    top: 100px;
    left: 20px;
  }
}
@media screen and (max-width: 440px) {
  .banner-content {
    top: 100px;
    left: 20px;
  }
}
@media screen and (max-width: 375px) {
  .banner-content {
    top: 80px;
    left: 20px;
  }
}

.banner-content__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}
@media screen and (max-width: 600px) {
  .banner-content__title {
    font-size: 16px;
  }
}
@media screen and (max-width: 440px) {
  .banner-content__title {
    font-size: 12px;
  }
}
@media screen and (max-width: 375px) {
  .banner-content__title {
    font-size: 10px;
  }
}

@media screen and (max-width: 440px) {
  .banner-content__reting__svg svg {
    width: 16px;
    height: 16px;
  }
}

.banner-content__reting__text {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  font-family: "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 600px) {
  .banner-content__reting__text {
    font-size: 18px;
  }
}
@media screen and (max-width: 440px) {
  .banner-content__reting__text {
    font-size: 12px;
  }
}

.banner-content__reting {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 40px;
  gap: 12px;
}
@media screen and (max-width: 550px) {
  .banner-content__reting {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 375px) {
  .banner-content__reting {
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

.banner-content__reting__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.banner-content__img {
  width: 280px;
  height: 140px;
}
@media screen and (max-width: 1024px) {
  .banner-content__img {
    width: 260px;
    height: 120px;
  }
}
@media screen and (max-width: 768px) {
  .banner-content__img {
    width: 220px;
    height: 100px;
  }
}
@media screen and (max-width: 660px) {
  .banner-content__img {
    width: 200px;
    height: 100px;
  }
}
@media screen and (max-width: 550px) {
  .banner-content__img {
    width: 180px;
    height: 100px;
  }
}
@media screen and (max-width: 440px) {
  .banner-content__img {
    width: 160px;
    height: 60px;
  }
}
@media screen and (max-width: 375px) {
  .banner-content__img {
    width: 120px;
    height: 50px;
  }
}
.banner-content__img img {
  width: 100%;
  height: 100%;
}

.banner-content__buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
@media screen and (max-width: 440px) {
  .banner-content__buttons {
    margin-top: 10px;
  }
}
@media screen and (max-width: 375px) {
  .banner-content__buttons {
    margin-top: 6px;
  }
}

.banner-content__btn-one {
  width: 200px;
  font-weight: 700;
  font-size: 18px;
  font-family: "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #52B038;
  padding: 13.25px 12px;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 768px) {
  .banner-content__btn-one {
    width: 180px;
    font-size: 16px;
    border-radius: 8px;
    padding: 11.25px 10;
  }
}
@media screen and (max-width: 600px) {
  .banner-content__btn-one {
    width: 160px;
    font-size: 16px;
    border-radius: 8px;
    padding: 9.25px 8px;
  }
}
@media screen and (max-width: 440px) {
  .banner-content__btn-one {
    width: 120px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 6px;
    padding: 7.25px 6px;
  }
}
@media screen and (max-width: 375px) {
  .banner-content__btn-one {
    width: 80px;
    font-size: 10px;
    font-weight: 400;
    border-radius: 6px;
    padding: 5.25px 4px;
  }
}
.banner-content__btn-one:hover {
  background-color: rgba(82, 176, 56, 0.3);
}

.banner-content__btn-two {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  font-family: "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 10px 12px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.0509803922);
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 768px) {
  .banner-content__btn-two {
    border-radius: 6px;
    padding: 8px 10px;
  }
}
@media screen and (max-width: 600px) {
  .banner-content__btn-two {
    border-radius: 6px;
    padding: 6px 8px;
  }
}
@media screen and (max-width: 440px) {
  .banner-content__btn-two {
    border-radius: 6px;
    padding: 4px 6px;
  }
}
@media screen and (max-width: 375px) {
  .banner-content__btn-two {
    border-radius: 4px;
    padding: 2px 4px;
  }
}
@media screen and (max-width: 375px) {
  .banner-content__btn-two svg {
    width: 16px;
    height: 16px;
  }
}
.banner-content__btn-two:hover {
  background-color: rgba(82, 176, 56, 0.3);
}

.pagination {
  position: absolute;
  z-index: 2;
  right: 0;
}
.pagination span {
  width: 14px;
  height: 14px;
  background-color: #52B038;
}
@media screen and (max-width: 440px) {
  .pagination span {
    width: 10px;
    height: 10px;
  }
}

.tv {
  margin-top: 40px;
  margin-bottom: 200px;
  overflow: hidden;
  flex: 1 1 auto;
}
.tv-title {
  display: flex;
}
.tv-title__link {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 2px;
}
.tv-title__link::after {
  display: flex;
  content: " ";
  width: 25px;
  height: 28px;
  margin-top: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00024 18L15.0002 12L9.00024 6' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.tv-title__link__text {
  color: #fff;
  font-size: 32px;
  font-family: "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.tv-content {
  margin-top: 30px;
  display: flex;
  gap: 12px;
}
.tv-content__box {
  width: 214px;
  height: 327px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
}
.tv-content__box__bottom {
  gap: 12px;
}
.tv-content__box__btn {
  margin-left: 4px;
  width: 100px;
  height: 100px;
  position: relative;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}
.tv-content__box__btn:hover {
  transform: scale(1.04);
}
.tv-content__box__btn:hover .tv-content__box__btn__play {
  opacity: 1;
  visibility: visible;
}
.tv-content__box__btn__play {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}
.tv-content__box__btn img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 12px;
}/*# sourceMappingURL=main.css.map */