// FONTS
$roboto: 'Roboto', sans-serif;
$main-font: "SF Pro Display","Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

// COLORS
$bg-color: #171818;
$header-bg: #1d1f1e;